*.classpath
.idea/*
.idea/*/*
*.iml
production/*/*
*.apk
proguard_logs/*
out/*/*
.idea/libraries/develhacked_lombok_0_1_5.xml
.idea/uiDesigner.xml
.project
*.class
.settings/org.eclipse.jdt.core.prefs